.portifolio-div {
  position: relative;
  cursor: pointer;
}

.portifolio-image {
  display: block;
  height: auto;
}

.portifolio-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f97270cc;
  overflow: hidden;
  height: 0%;
  transition: .5s ease;
}

.portifolio-div:hover .portifolio-overlay {
  height: 100%;
}

.portifolio-overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.portifolio-overlay-content {
  transform: translate(0%, -20%);
}